[submodule "acg/lab-work-3"]
	path = acg/lab-work-3
	url = https://github.com/mryrtry/alg-comp-graph-3.git
[submodule "acg/lab-work-4"]
	path = acg/lab-work-4
	url = https://github.com/mryrtry/alg-comp-graph-4.git
[submodule "acg/lab-work-2"]
	path = acg/lab-work-2
	url = https://github.com/mryrtry/alg-comp-graph-2.git
[submodule "acg/lab-work-1"]
	path = acg/lab-work-1
	url = https://github.com/mryrtry/alg-comp-graph-1.git
[submodule "vichmat-4/lab-work-1"]
	path = vichmat-4/lab-work-1
	url = https://github.com/mryrtry/vichmat-lr-1.git
[submodule "vichmat-4/lab-work-2"]
	path = vichmat-4/lab-work-2
	url = https://github.com/mryrtry/vichmat-lr-2.git
[submodule "vichmat-4/lab-work-3"]
	path = vichmat-4/lab-work-3
	url = https://github.com/mryrtry/vichmat-lr-3.git
[submodule "vichmat-4/lab-work-4"]
	path = vichmat-4/lab-work-4
	url = https://github.com/mryrtry/vichmat-lr-4.git
[submodule "vichmat-4/lab-work-5"]
	path = vichmat-4/lab-work-5
	url = https://github.com/mryrtry/vichmat-lr-5.git
[submodule "vichmat-4/lab-work-6"]
	path = vichmat-4/lab-work-6
	url = https://github.com/mryrtry/vichmat-lr-6.git
[submodule "vichmat-4/math-parser"]
	path = vichmat-4/math-parser
	url = https://github.com/mryrtry/math-parser.git
[submodule "is-5/course"]
	path = is-5/course
	url = https://github.com/mryrtry/is-course.git
[submodule "is-5/lab-work"]
	path = is-5/lab-work
	url = https://github.com/mryrtry/band-manager.git
[submodule "web-3/lab-work-1"]
	path = web-3/lab-work-1
	url = https://github.com/mryrtry/assignment-1-web.git
[submodule "web-3/lab-work-2"]
	path = web-3/lab-work-2
	url = https://github.com/mryrtry/assignment-2-web.git
[submodule "web-3/lab-work-3"]
	path = web-3/lab-work-3
	url = https://github.com/mryrtry/assignment-3-web.git
[submodule "web-3/lab-work-4-back"]
	path = web-3/lab-work-4-back
	url = https://github.com/mryrtry/assignment-4-web-back.git
[submodule "web-3/lab-work-4-front"]
	path = web-3/lab-work-4-front
	url = https://github.com/mryrtry/assignment-4-web-front.git
